@model  PriOrder.App.ModelsView.USER_LOGIN 
@{
    ViewBag.Title = "Change Profile Picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="p-3">
    @using (Html.BeginForm("ChangeProfilePicture", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.USER_ID)
        <div class="mb-3">
            <div class="icontext">
                <div class="icon">
                    <img id="cat-images" src="@Model.USER_IMAGE" class="avatar-lg">
                </div>
                <div class="text">
                    <label for="formFile" class="form-label">Change Picture</label>
                    <input class="form-control" type="file" name="USER_IMAGE" onchange="viewImage(this);" accept="image/jpeg" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">@Model.USER_ID</label>
            <input type="text" required="" class="form-control" value="@Model.USER_ID" readonly>
        </div>
        <button type="submit" class="btn btn-outline-danger w-100"> Update Picture </button>
    }
</section>


<p class="text-center mx-3">
    <a href="@Url.Action("MyProfile","Accounts")" class="btn w-100 btn-outline-success">
        <i class="material-icons md-arrow_back"></i>
      Go My Profile
    </a>
</p>

@section scripts{
    <script>
        function viewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#cat-images').attr('src', e.target.result).width(80).height(80);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}