@model IEnumerable<PriOrder.App.Models.MR_STATUS>
@{
    ViewBag.Title = "MR Status";
}
<p class="text-center mx-3">
    <a href="@Url.Action("MyProfile","Accounts")" class="btn w-100 btn-light">
        <i class="material-icons md-arrow_back"></i>
        Go My Profile
    </a>
</p>
<section class="p-3">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Bank</th>
                    <th>Cheque</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MRDO_MRNO</td>
                        <td>@item.MRDO_DATE</td>
                        <td>@item.MRDO_SORC</td>
                        <td>@item.MRDO_CHEK</td>
                        <td>@item.MRDO_AMNT</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<p class="text-center mx-3">
    <a href="@Url.Action("MyProfile","Accounts")" class="btn w-100 btn-light">
        <i class="material-icons md-arrow_back"></i>
        Go My Profile
    </a>
</p>