@model PriOrder.App.Models.T_DSMA
@{
    ViewBag.Title = "My Profile";
}

<section class="p-3 bg-primary">
    <a href="28.page-settings.html" class="float-end"><i class="material-icons md-edit text-white"></i></a>
    <figure class="icontext align-items-center mr-4" style="max-width: 300px;">
        <img class="icon icon-md rounded-circle" src="~/Assets/images/avatars/0.jpg">
        <figcaption class="text text-white">
            @if (Session["userId"] != null)
            {
                <p class="h5 title mb-1">@Session["userId"]</p>
                <p>@Session["userName"]</p>
                <p class="text-white-50 lh-sm">@Session["userGroup"]<br>@Session["userMobile"]</p>
            }
        </figcaption>
    </figure>
</section>

<section class="p-3">
    <ul class="row">
        <li class="col-4">
            <a href="@Url.Action("MyOrders")" class="item-category-grid">
                <span class="icon-wrap"> <i class="icon material-icons md-shopping_basket"></i>  </span>
                <small class="text"> Orders </small>
            </a>
        </li>
        <li class="col-4">
            <a href="@Url.Action("Banks","Accounts")" class="item-category-grid">
                <span class="icon-wrap"> <i class="icon material-icons md-home_work"></i>  </span>
                <small class="text"> Banks</small>
            </a>
        </li>
        <li class="col-4">
            <a href="@Url.Action("MRStatus","Accounts")" class="item-category-grid">
                <span class="icon-wrap"> <i class="icon material-icons md-account_balance_wallet"></i>  </span>
                <small class="text"> MR Status </small>
            </a>
        </li>
    </ul>
</section>

<hr class="divider">

<section>
    <h5 class="title-section pb-2">Account</h5>
    <nav class="nav-list">
        <div class="btn-list">
            <span class="float-end badge bg-warning">@(String.IsNullOrEmpty(Model.DSTO_NIDN) ? "Update your NID, Contact with Help Line" : Model.DSTO_NIDN)</span>
            <span class="text">NID</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-success">@Model.DIST_TYPE</span>
            <span class="text">Type</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-secondary">@Model.DSMA_DSID</span>
            <span class="text">Code</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-warning">@Model.DSMA_NAME</span>
            <span class="text">Name</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-success">@Model.ADDR1</span>
            <span class="text">Owner</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-secondary">@Model.CONTACTS</span>
            <span class="text">Mobile</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-warning">@Model.ADDR2</span>
            <span class="text">Address</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-success">@Model.DIGR_NAME</span>
            <span class="text">Group</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-secondary">@Model.SALES_ZONE</span>
            <span class="text">Zone</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-success">@Model.DIST_ZONE</span>
            <span class="text">Base</span>
        </div>
        <div class="btn-list">
            <span class="float-end badge bg-secondary">@Model.ZCONTACTS</span>
            <span class="text">Help Line</span>
        </div>
    </nav>
</section>
<hr class="divider">
<section>
    <h5 class="title-section pb-2">Account</h5>
    <nav class="nav-list">
        <a class="btn-list" href="@Url.Action("Messages")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">Messages</span>
        </a>
        <a class="btn-list" href="@Url.Action("Support")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">Support</span>
        </a>
        <a class="btn-list" href="@Url.Action("ChangePassword")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">Change Password</span>
        </a>
    </nav>
</section>

<hr class="divider">
<section>
    <h5 class="title-section pb-2">Personal</h5>
    <nav class="nav-list">
        <a class="btn-list" href="29.page-profile-edit.html">
            <i class="icon-control material-icons md-edit"></i>
            <small class="title">Picture</small>
            <span class="text">Image</span>
        </a>
    </nav>
</section>