@model IEnumerable<PriOrder.App.Models.WO_ITEM_TYPE>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="p-2">
        <ul class="row">
            @foreach (var item in Model)
            {
                <li class="col-12 col-sm-12 col-md-4 card shadow-sm mb-1">
                    <article class="product-list p-1">
                        <div>
                            <a href="@Url.Action("ProductClass","Products", new { id = item.ITEM_TYPE_ID })" class="img-wrap"> <img src="~/Images/Category/@(item.ITEM_TYPE_ID).jpg" alt="@item.ITEM_TYPE_ID"> </a>
                        </div>
                        <div class="info-wrap">
                            <p class="title"> @item.ITEM_TYPE_NAME </p>
                            <div class="price mb-2">@item.ITEM_CLASS_COUNT Class</div>
                            <div>
                                <a href="@Url.Action("ProductClass","Products", new { id = item.ITEM_TYPE_ID })" class="btn btn-icon btn-sm btn-light">
                                    <i class="material-icons md-list_alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </li> <!-- col.// -->
            }
        </ul> <!-- row.// -->
    </div>
</section>