@model  PriOrder.App.ModelsView.CLASS_CATEGORY
@{
    ViewBag.Title = "Product Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="pb-3 pt-1 bg-primary">
    <h5 class="title-lg text-white">Categories</h5>
    <div class="px-3 scroll-horizontal">
        @if (Model.CATEGORIES != null)
        {
            foreach (var item in Model.CATEGORIES)
            {
                <div class="item-xs">
                    <a href="@Url.Action("ProductClass", "Products", new { id = item.ITEM_TYPE_ID })" class="img-wrap">
                        <img class="rounded-circle" src="~/Images/Category/@(item.ITEM_TYPE_ID).jpg" alt="@item.ITEM_TYPE_ID">
                        <small class="text-white"> @item.ITEM_TYPE_NAME </small>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="title-sm text-white">No Category found</p>
        }
    </div> <!-- scroll-horizontal.// -->
</section>

<section>
    <ul class="p-3 list-menu">
        @if (Model.CLASS != null)
        {
            foreach (var item in Model.CLASS)
            {
                <li class="nav-item card shadow-sm">
                    <a href="@Url.Action("Products", "Products", new { className = item.ITEM_CLASS_ID, catName = item.ITEM_TYPE_ID })" class="icontext">
                        <span class="icon rounded"> <img src="~/Images/ItemClass/@(item.ITEM_CLASS_ID).jpg" alt="@item.ITEM_CLASS_ID"> </span>
                        <div class="text"> <h6 class="title">@item.ITEM_CLASS_NAME</h6> <span class="text-muted">@item.ITEMS_COUNT items</span></div>
                    </a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <p class="text">No Product Class found</p>
            </li>
        }
    </ul>
</section>