@model  PriOrder.App.ModelsView.CLASS_CATEGORY
@{
    ViewBag.Title = "Product Class";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="pb-3 pt-1 bg-primary">
    <h5 class="title-lg text-white">Categories</h5>
    <div class="px-3 scroll-horizontal">
        @if (Model.CATEGORIES != null)
        {
            foreach (var item in Model.CATEGORIES)
            {
                <div class="item-xs">
                    <a href="@Url.Action("ProductClass", "Products", new { id = item.ITEM_TYPE_ID })" class="img-wrap">
                        <img class="rounded-circle" src="~/Images/Category/@(item.ITEM_TYPE_ID).jpg" alt="@item.ITEM_TYPE_ID" onerror="this.onerror=null;this.src='/Images/noimg.jpg'">
                        <small class="text-white"> @item.ITEM_TYPE_NAME </small>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="title-sm text-white">No Category found</p>
        }
    </div> <!-- scroll-horizontal.// -->
</section>

<section>
    <ul class="row">
        @if (Model.CLASS != null)
        {
            foreach (var item in Model.CLASS)
            {
                <li class="col-12 col-sm-12 col-md-4 card shadow-sm m-1">
                    <article class="product-list p-1">
                        <div>
                            <a href="@Url.Action("Products","Products", new { id = item.ITEM_TYPE_ID })" class="img-wrap"> <img src="~/Images/ItemClass/@(item.ITEM_CLASS_ID).jpg" alt="@item.ITEM_CLASS_ID" onerror="this.onerror=null;this.src='/Images/noimg.jpg'"> </a>
                        </div>
                        <div class="info-wrap">
                            <p class="title"> @item.ITEM_CLASS_NAME </p>
                            <div class="price mb-2">@item.ITEMS_COUNT Products</div>
                            <div>
                                <a href="@Url.Action("Products","Products", new { id = item.ITEM_TYPE_ID })" class="btn btn-icon btn-sm btn-light">
                                    <i class="material-icons md-list_alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </li> <!-- col.// -->
            }
        }
        else
        {
            <li class="nav-item">
                <p class="text">No Product Class found</p>
            </li>
        }
    </ul> <!-- row.// -->
</section>