@model IEnumerable<PriOrder.App.Models.WO_ITEMS>
@{
    ViewBag.Title = "Product Search";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Enter Item Code">
        <button type="submit" class="btn btn-secondary"><i class="material-icons md-search"></i></button>
    </div>
</form>
@if (@TempData["tsms"] != null)
{
    <p class="alert alert-warning">@TempData["tsms"]</p>
}
<section class="p-1">
    <ul class="row">
        @foreach (var item in Model)
        {
            <li class="col-12 col-sm-12 col-md-6 card shadow-sm mb-1">
                <article class="product-list mb-1">
                    <div>
                        <a href="#" class="img-wrap">
                            <img src="~/Images/Products/@(item.ITEM_ID).jpg" alt="@item.ITEM_ID" onerror="this.onerror=null;this.src='../Images/noimg.jpg'" />
                        </a>
                    </div>
                    <div class="info-wrap">
                        <a href="#" class="btn btn-icon btn-sm btn-light float-end favorite-item">
                            <i class="material-icons md-favorite_border"></i>
                        </a>
                        <input class="item-code" type="hidden" value="@item.ITEM_ID" />
                        <p class="title text-primary"> @item.ITEM_ID </p>
                        <p class="title"> @item.ITEM_NAME</p>
                        <div class="price mb-1">
                            <div class="input-group input-group-sm">
                                @Html.DropDownList("WO_NOTE", item.WO_NOTE as List<SelectListItem>, new { @class = "form-select wo-note" })
                                <input class="item-note form-control form-control-sm" type="text" value="" max="20">
                            </div>
                        </div>
                    </div>
                </article>
                <div class="price mb-1">
                    <span class="badge bg-secondary">Tk: @item.ITEM_RATE, Fact: @item.ITEM_FACTOR, UOM: @item.ITEM_UNIT</span>
                    <span class="badge bg-secondary">Stk: @item.NEW_STOCK</span>
                </div>
                <div class="input-group input-group-sm">
                    <button class="btn btn-light minus" type="button"> <i class="material-icons md-minus"></i> </button>
                    <input type="number" name="quantity" class="form-control" value="@(item.NEW_STOCK >= 10 ? 10 : (item.NEW_STOCK == 0 ? 1 : item.NEW_STOCK ))" min="1">
                    <button class="btn btn-light plus" type="button"> <i class="material-icons md-plus"></i> </button>
                    <button class="btn btn-light add_to_cart" type="button"> <i class="material-icons md-shopping_cart"></i> </button>
                </div>
            </li>
        }
    </ul>
</section>


@section scripts{

    <script>
        $(document).on('click', '.add_to_cart', function (e) {
            e.preventDefault();
            var itemcode = $(this).parent('div.input-group').siblings('article.product-list').children("div.info-wrap").find('input.item-code').val();
            var quantity = $(this).parent().children("input:first").val();
            var notId = $(this).parent('div.input-group').siblings('article.product-list').children("div.info-wrap")
                        .children("div.price").children('div.input-group').find("select#WO_NOTE option").filter(":selected").val()
            var notVal = $(this).parent('div.input-group').siblings('article.product-list').children("div.info-wrap")
                        .children("div.price").children('div.input-group').find('input.item-note').val();

            if (quantity != '' && parseInt(quantity) != '0' && itemcode != '') {
                $.post("AddToCart", { "id": itemcode, "qt": quantity, "noId": notId, "noVal": notVal },
                    function (data) {
                        if (data.success) {
                            //Swal.fire({ title: "Success!", text: data.messages, icon: "success", button: "Ok!" });
                            Swal.fire({ position: 'top-end', icon: 'success', title: data.messages, showConfirmButton: false, timer: 500 });
                        } else {
                            Swal.fire({ title: "Failed!", text: data.messages, icon: "error", button: "Ok!" });
                        }
                    });
            }
            else {
                Swal.fire({ title: "Info!", text: 'Enter quantity', icon: "Info", button: "Ok!" });
            };
        });

        $(document).on('click', '.favorite-item', function (e) {
            e.preventDefault();
            $(this).children('i.material-icons').toggleClass('md-favorite_border md-favorite');
            var itemcode = $(this).siblings("input.item-code").val();
            if (itemcode != '') {
                $.post("AddToFav", { "id": itemcode },
                    function (data) {
                        if (data.success) {
                            Swal.fire({ title: "Success!", text: data.messages, icon: "success", button: "Ok!" });
                        } else {
                            Swal.fire({ title: "Info!", text: data.messages, icon: "info", button: "Ok!" });
                        }
                    });
            };
        });

        $(".wo-note").change(function (e) {
            e.preventDefault();
            var noteVal = this.value;
            if (noteVal == "0" || noteVal == "1") {
                $(this).siblings("input.item-note").attr('type', 'text');
            } else {
                $(this).siblings("input.item-note").attr('type', 'number');
            }
        });
    </script>
}