@model  PriOrder.App.Models.WO_ITEMS
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="p-3">
    @using (Html.BeginForm("Product", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ITEM_ID)
        @Html.HiddenFor(model => model.ITEM_UNIT)
        <div class="mb-3">
            <div class="icontext">
                <div class="icon">
                    <img id="profile-images" src="@Model.ITEM_NAME" class="avatar-lg">
                </div>
                <div class="text">
                    <label for="formFile" class="form-label">Change image</label>
                    <input class="form-control" type="file" name="ITEMS_IMAGE" onchange="viewImage(this);" accept="image/jpeg" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">@Model.ITEM_ID</label>
            <input type="text" required="" class="form-control" value="@Model.ITEM_NAME" readonly>
        </div>
        <button type="submit" class="btn btn-primary w-100"> Update  </button>
    }
</section>
@section scripts{
    <script>
        function viewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profile-images').attr('src', e.target.result).width(80).height(80);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}