@model PriOrder.App.ModelsView.USER_LOGIN
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

    <meta name="description" content="Primary Order Collection">
    <meta name="keywords" content="Primary Order, Primary, Order">
    <meta name=”theme-color” content=”#0d6efd>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>@ViewBag.Title || PriOrder</title>

    <link href="~/Assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--  Bootstrap -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- custom style -->
    <link href="~/Assets/css/ui.css" rel="stylesheet" type="text/css" />
    <!-- Fonticon -->
    <link href="~/Assets/fonts/material-icon/css/round.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <main class="app-content">
        <div class="pb-1 pt-3 bg-primary">
            <h3 class="title-lg text-white">Login</h3>
        </div>
        <section class="p-3">
            @*new { @class = "m-3" }*@
            @using (Html.BeginForm(new { next_url = Request.QueryString["next_url"], FormMethod.Post }))
            {
                @Html.AntiForgeryToken()
                <div class="mb-2">
                    @Html.EditorFor(model => model.USER_ID, new { htmlAttributes = new { @class = "form-control bg-light", required = "required", placeholder = "Login" } })
                    @Html.ValidationMessageFor(model => model.USER_ID, "", new { @class = "text-danger" })
                </div>
                <div class="mb-2">
                    @*@Html.PasswordFor(model => model.USER_PASSWORD,  new { @class = "form-control bg-light", required = "required", placeholder = "Password" })*@
                    @Html.EditorFor(model => model.USER_PASSWORD, new { htmlAttributes = new { @class = "form-control bg-light", required = "required", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.USER_PASSWORD, "", new { @class = "text-danger" })
                </div>
                <div class="mb-2">
                    <label class="alert-warning">@ViewBag.ErrorMessages</label>
                </div>
                <input type="submit" value="Login" class="btn btn-primary w-100" />
            }
        </section>
        @if (!Model.IS_XO)
        {
            <a href="@Url.Action("Signin","Home")" class="btn btn-outline-danger w-100">as Support</a>
        }
        else
        {
            <a href="@Url.Action("Login","Home")" class="btn btn-outline-danger w-100">as Distributor</a>
        }

    </main>
    <!-- app-content.// -->
    <!-- jQuery -->
    <script src="~/Assets/js/jquery-3.5.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap 5 JS -->
    <script src="~/Assets/js/bootstrap.bundle.js" type="text/javascript"></script>

    <!-- custom javascript -->
    <script src="~/Assets/js/script.js" type="text/javascript"></script>

    <!-- PWA -->
    @*<script src="~/Assets/js/pwa.js"></script>*@

</body>
</html>
