@model IEnumerable<PriOrder.App.Models.WO_SUP_MSG_BODY>
@{
    ViewBag.Title = "Support Reply";
}

@foreach (var item in Model)
{
    <article class="card-banner rounded bg-light mb-2" @(item.SUP_BY == "0" ? "style=text-align:right" : "style=text-align:left")>
        <div class="p-3" style="width:95%">
            <span class="badge bg-success">@(item.SUP_BY == "0" ? @item.SUP_NUMBER : @item.SUP_BY)</span><br />
            <span class="text-secondery">@item.CREATE_DATE</span>
            <p>@item.BODY_TEXT</p>
        </div>
    </article>
}


<p class="alert alert-danger">
    <a href="@Url.Action("Support","Messages")" class="badge bg-danger"> View all messages</a>
    <a href="#" class="badge bg-warning" onclick="location.reload();"> check new messages</a>
    <a href="@Url.Action("Sms","Messages")" class="badge bg-primary"> View all messages</a>
</p>
<div class="mb-3 row">
    <div class="col-10">
        <textarea class="form-control" placeholder="Write your problem is here!"></textarea>
    </div>
    <div class="col-2">
        <br />
        <button type="submit" class="btn w-100 btn-primary"><i class="material-icons md-send"></i></button>
    </div>
</div>