@model IEnumerable<PriOrder.App.Models.WO_SUP_MSG>
@{
    ViewBag.Title = "Support";
}
<p class="text-center mx-3">
    <a href="@Url.Action("Help","Messages")" class="btn btn-danger w-100">  Need Help</a>
</p>

@foreach (var item in Model)
{
    <article class="card-banner rounded bg-light mb-2">
        <div class="p-3" style="width:95%">
            <span class="float-end badge bg-warning">@item.SUP_NUMBER</span>
            <span class="text-secondery">@item.CREATE_DATE</span>
            <p>
                @item.SUP_TYPE
                @if (item.IS_ACTIVE)
                {
                    <a href="@Url.Action("SupportReply", "Messages", new { replyId= item.SUP_NUMBER})" class="badge bg-dark">Reply</a>
                }
            </p>
        </div>
    </article>
}